### Deep Dive into Operators
Video Outline:

1- Introduction to Operators

2- Arithmetic Operators

    Addition

    Subtraction

    Multiplication

    Division

    Floor Division

    Modulus

    Exponentiation

3- Comparison Operators

    Equal to

    Not equal to

    Greater than

    Less than

    Greater than or equal to

    Less than or equal to

4- Logical Operators

    AND

    OR

    NOT
    
Practical Examples and Common Errors

In [1]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [2]:
10/5

2.0

In [3]:
21/5

4.2

In [4]:
21//5

4

## Comparison Operators

In [5]:

## == Equal to
a=10
b=10

a==b

True

In [6]:
str1="Krish"
str2="Krish"

str1==str2

True

In [7]:
## Not Equal to !=
str1!=str2

False

In [8]:
str3="Krish"
str4="krish"

str3!=str4

True

In [9]:
# greater than >

num1=45
num2=55

num1>num2

False

In [ ]:
## less than <

print(num1<num2)

In [10]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [11]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

## Logical Operators

In [12]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [13]:
X=False
Y=True

result =X and Y
print(result)

False

In [14]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [15]:
# Not operator
X=False
not X

True